<div class="wrapper fadeInDown mt-5">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="../../../../../assets/image/default-logo.png" id="icon" alt="Doce Gão" />
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="txtLogin" class="fadeIn second" name="txtLogin" placeholder="Usuário ou E-mail">
        <input type="text" id="txtSenha" class="fadeIn third" name="txtSenha" placeholder="Senha">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Esqueceu a senha?</a>
      </div>
  
    </div>
  </div>